///////////////////////////////// Stay in contact /////////////////////
@import '../partials/colors';

.stay-in-contact-bg {
    width: 100%;
    background: white;
}

.stay-in-contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40em;
}

.stay-in-contact-title {
    
    h2 {
        font-size: 2.4em;
        color: $colorDarkBlue;
    }
    
}

.stay-in-contact-txt {
    p {
        font-size: 1.5em;
        color: $colorText;
    }
}

.stay-in-contact-input {
    padding-top: 2em;
    
    .input-email {
        border:none;
        font-size: 1.5em;
        border-bottom: 1px solid $colorDarkBlue;
        width: 18em;
        height: 2.5em;
    }

    .input-button {
        width: 70px;
        height: 30px;
        margin-left: 0.8em;
        background: $colorDarkYellow;
        border: none;
        font-size: 1.3em;
        color: $colorWhite;
        font-weight: 700;
        border-radius: 0.5em;
        cursor: pointer;
    }
}

///////////////////////////////////////////////////////////////////////